<nav class="navbar navbar-expand-lg navbar-light bg-light" style="opacity: 70%;">
    <a class="navbar-brand" href="#" style="font-size: 30px;">TUTORS.RU</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tutors">Список репетиторов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">О сайте</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {if $user == null}
        <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registration"><i class="fas fa-user-plus"></i> Регистрация</a>
        </li>
        {else}
        <li class="nav-item">
            <a class="nav-link row" href="/personal"><img src="{$avatar}" class="md-avatar rounded-circle">  {$user.login}</a>
        </li>
        <li class="nav-item ml-2 my-auto">
            <a class="nav-link" href="/logout.php"><i class="fas fa-sign-out-alt"></i> Выход</a>
        </li>
        {/if}
    </ul>
</nav>