{if $user == null}
<section style="opacity: 80%;" class="card card-default w-50 mx-auto my-auto">
    <h4 class="card-header">Вход</h4>
    <div id="spinner" role="status"></div>
    <div id="error" class="alert alert-danger" style="display: none"></div>
    <form id="login-form" class="card-body">
        <div class="form-group">
            <label for="login-input">Логин:</label>
            <input type="text" name="login" class="form-control" id="login-input" placeholder="Логин">
        </div>
        <div class="form-group">
            <label for="password-input">Пароль:</label>
            <input type="password" name="password" class="form-control" id="password-input" placeholder="••••••">
        </div>
        <input type="submit" class="btn float-right btn-primary" value="Войти"/>
    </form>
    <div class="card-footer">
        <div class="d-flex justify-content-center links">
            Нет аккаунта?&nbsp;<a href="/registration">Зарегистрироваться</a>
        </div>
    </div>
</section>
<script defer src="/scripts/login_script.js"></script>
{else}
<div class="alert alert-info text-center mx-auto my-auto">
    Вход уже был осуществлён.
</div>
{/if}