<main class="main-body">
    <div style="margin: 0 auto">
        <p style="font-weight: bold; font-size: 30px; background-color: #f5f5f5; opacity: 70%; text-align: center;">
            Сайт для тех, кто хочет учиться и кто хочет обучать!
        </p>
        <iframe width="860" height="515"
                src="https://www.youtube.com/embed/S2DEaiEy8q4"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <p style="font-weight: bold; background-color: #f5f5f5; opacity: 70%; text-align: center; margin-top: 10px;">
            Ознакомьтесь с материалами из данного видеоролика и приступайте к работе!<br>
            Успехов!
        </p>
    </div>
    <script defer src="/scripts/main_script.js"></script>
</main>