<div class="alert alert-warning text-center mx-auto my-auto">
    Удивительное дело, но такой страницы ещё (или уже) нет.<br />
    Непонятно, каким макаром вы сюда попали, <br />
    но точно можно сказать только одно: вам тут делать нечего.<br />
    Так что убирайтесь-ка с этой страницы
</div>