{if $user == null}
<section style="opacity: 80%;" class="card card-default w-50 mx-auto my-auto">
    <h4 class="card-header">Регистрация</h4>
    <div id="spinner" role="status"></div>
    <div id="error" class="alert alert-danger" style="display: none"></div>
    <form action="POST" id="registration-form" class="card-body">
        <div class="form-group">
            <label for="name-input">Имя:</label>
            <input type="text" name="name" class="form-control" id="name-input" placeholder="Имя">
        </div>
        <div class="form-group">
            <label for="surname-input">Фамилия:</label>
            <input type="text" name="surname" class="form-control" id="surname-input" placeholder="Фамилия">
        </div>
        <div class="form-group">
            <label for="patronymic-input">Отчество:</label>
            <input type="text" name="patronymic" class="form-control" id="patronymic-input" placeholder="Отчество">
        </div>
        <div class="form-check">
            <input type="checkbox" name="isTutor" class="form-check-input" id="type-input">
            <label class="form-check-label" for="type-input">Я репетитор</label>
        </div>
        <div class="form-group">
            <label for="login-input">Логин:</label>
            <input type="text" name="login" class="form-control" id="login-input" placeholder="Логин">
        </div>
        <div class="form-group">
            <label for="password-input">Пароль:</label>
            <input type="password" name="password" class="form-control" id="password-input" placeholder="••••••">
        </div>
        <div class="form-group">
            <label for="password2-input">Повтор пароля:</label>
            <input type="password" name="password2" class="form-control" id="password2-input" placeholder="••••••">
        </div>
        <input type="submit" class="btn float-right btn-primary" value="Зарегистрироваться"/>
    </form>
    <div class="card-footer">
        <div class="d-flex justify-content-center links">
            Уже есть аккаунт?&nbsp;<a href="/login">Войти</a>
        </div>
    </div>
</section>
<script defer src="/scripts/register_script.js"></script>
{else}
<div class="alert alert-info text-center mx-auto my-auto">
    Если у вас уже есть аккаунт, зачем вам ещё один?
</div>
{/if}