html {
    height: 100%;
    min-height: 100%;
}

body {
    background: url("../images/main-back1.jpg") no-repeat fixed;
    background-size: cover;
    align-content: stretch;
    align-items: stretch;
    color: #343434;
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    height: 100%;
}

main {
    display: flex;
    flex-grow: 1;
}

.footer {
    background-color: #f5f5f5;
    opacity: 50%;
    padding-top: 10px;
}

.md-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.md-avatar.size-1 {
    width: 40px;
    height: 40px;
}

.md-avatar.size-2 {
    width: 70px;
    height: 70px;
}

.md-avatar.size-3 {
    width: 90px;
    height: 90px;
}

.md-avatar.size-4 {
    width: 110px;
    height: 110px;
}

.main-content {
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

.tutors-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 99%;
    background-color: #f5f5f5;
    opacity: 85%;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

#search-btn {
    border: 0;
}

#search-btn:focus {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.filters {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.my-select:focus {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.card-tutor {
    display: flex;
    flex-direction: row;
    background-color: #EDEDED;
    height: 170px;
    padding: 10px;
    margin-bottom: 5px;
}

.card-tutor:hover {
    background: #B6B6B6;
    cursor: pointer;
}

.card-tutor:active {
    background: #929292;
    cursor: pointer;
}

.data-tutor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.label {
    color: gray;
    width: 100px;
}

.label-value {
    width: 200px;
}

.row-data {
    display: flex;
    flex-direction: row;
}

.tutor-price {
    border-left: 1px solid #BEBDC0;
    width: 500px;
    align-self: self-end;
}

.loader {
    animation: spinningColor 1.5s ease-in-out infinite;
    margin: 50px auto;
    border: 5px double #EFEAE1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: transparent;
}

.loader-img {
    animation: spinningColor 1.5s ease-in-out infinite;
    margin: 30px auto;
    border: 5px double #EFEAE1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: transparent;
}

@keyframes spinningColor {
    0% {
        transform: rotate(360deg);
        border-top:5px dashed #964F54;
        border-bottom:5px dashed #1C3E63;
    }
    25% {
        border-top:5px dashed #964F54;
        border-bottom:5px dashed #396E9D;
    }
    50% {
        border-top:5px dashed #964F54;
        border-bottom:5px dashed #39699D;
    }
    75% {
        border-top:5px dashed #B45F64;
        border-bottom:5px dashed #39699D;
    }
    100% {
        border-top:5px dashed #BA6D6F;
        border-bottom:5px dashed #366496;
    }
}

.paging {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.paging-page {
    list-style-type: none;
    width: 32px;
    height: 32px;
    border: 1px solid #4e555b;
    position: relative;
}

.paging-page-link {
    text-decoration: none;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    text-align: center;
    padding-top: 4px;
    background: #EFEAE1;
    color: black;
}

.active {
    background: #B6B6B6;
}

.paging-page-link:hover {
    text-decoration: none;
    background: #f5f5f5;
}

.paging-page-link:active {
    background: #929292;
}

.disabled-li {
    cursor: unset;
    text-decoration: none;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    text-align: center;
    padding-top: 4px;
    background: #f5f5f5;
    color: black;
}

.my-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
