/* ==========
    Variables 
========== */

:root {
    --black-color: #343434;
    --category-width: 300px;
    --dark-gray-color: #5c5c5c;
    --font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-size: 1rem;
    --gray-color: #828282;
    --gray-white-color: #e0e0e0;
    --image-height: 12rem;
    --image-width: 12rem;
    --light-gray-color: #aaaaaa;
    --line-height: 1.5;
    --main-width: 1200px;
    --margin: 1rem 0.5rem;
    --padding: 1rem 0.5rem;
    --white-color: #ffffff;
    --white-gray-color: #fff9f9;
}


/* ==========
    Base 
========== */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    align-content: stretch;
    align-items: stretch;
    color: #343434;
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: var(--font-family);
    font-size: 1rem;
    font-size: var(--font-size);
    height: 100%;
    line-height: 1.5;
    line-height: var(--line-height);
    min-width: 1200px;
    min-width: var(--main-width);
}


/* ==========
  Utilities 
========== */

.container {
    margin: 0 auto;
    max-width: 1200px;
    max-width: var(--main-width);
    width: 1200px;
    width: var(--main-width);
}

.float-right {
    float: right;
}

.v-align-center {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.ul-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.unstyled-link {
    color: inherit;
    text-decoration: inherit;
}


/* ==========
  Elements 
========== */


/* Breadcrumbs */

.breadcrumbs {
    font-size: 0.7rem;
    font-size: calc(var(--font-size) - 0.3rem);
    margin: var(--margin);
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li+li:before {
    content: "/";
    margin: var(--margin);
}


/* Card */

.card-header {
    font-size: 1.2rem;
    font-size: calc(var(--font-size) + 0.2rem);
    font-weight: bold;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

/* Menubar */

.menubar {
    background-color: #5c5c5c;
    background-color: var(--dark-gray-color);
    display: flex;
    flex: 1e1e1e1 1 auto;
    flex-direction: row;
    justify-content: center;
    min-height: 3rem;
}

.menubar-menu {
    background-color: #fff9f9;
    background-color: var(--white-gray-color);
    border-color: #343434;
    border-color: var(--black-color);
    box-shadow: 5px 0 5px #5c5c5c;
    box-shadow: 5px 0 5px var(--dark-gray-color);
    display: none;
    font-weight: lighter;
    position: absolute;
}

.menubar a {
    align-self: center;
    display: block;
    padding: 1rem 0.5rem;
    padding: var(--padding);
}

.menubar-menu-item {
    color: #343434;
    color: var(--black-color);
    display: flex;
    font-size: 0.85rem;
    font-size: calc(var(--font-size) - 0.15rem);
    height: 100%;
}

.menubar-menu-item:hover {
    background-color: #828282;
    background-color: var(--gray-color);
    transition: 1s linear;
}

.menubar-menu-item:hover>.menubar-menu {
    display: list-item;
}

.menu0 {
    background-color: inherit;
    box-shadow: none;
    display: inherit;
    font-weight: bold;
    height: 100%;
    position: relative;
    top: 0;
}

.menu0 > .menubar-menu-item{
    color: #e1e1e1;
    color: var(--gray-white-color);
    display: inline-flex;
    font-size: 0.8rem;
    font-size: calc(var(--font-size) - 0.2rem);
}

.menu1 {
    width: 300px;
    width: var(--category-width);
    left: 0;
    top: 100%;
}

.menu2 {
    left: 100%;
    min-width: 100px;
    top: 0;
}

/* Navbar */

.navbar {
    background-color: #ffffff;
    background-color: var(--white-color);
    flex: 1 1 auto;
    font-size: 0.7rem;
    font-size: calc(var(--font-size) - 0.3rem);
}

.navbar-contacts {
    padding: 1rem 0.5rem;
    padding: var(--padding);
}

.navbar-contacts li {
    padding-bottom: 0.5rem;
}

.navbar-searchbar {
    border: 1px solid #5c5c5c;
    border: 1px solid var(--dark-gray-color);
    box-shadow: 0 #5c5c5c;
    flex: 2 1 auto;
    font-size: 1rem;
    font-size: var(--font-size);
    margin: 1rem 0.5rem;
    margin: var(--margin);
    margin-right: 5rem;
}

.navbar-site-name {
    flex: 1 1 auto;
    font-size: 1.3rem;
    font-size: calc(var(--font-size) + 0.3rem);
    font-weight: bolder;
    padding: 1rem 0.5rem;
    padding: var(--padding);
}

.navbar-work-arrangement-text {
    flex: auto;
    padding: 1rem 0.5rem;
    padding: var(--padding);
}


/* ==========
  Sections 
========== */


/* Layout */

.page-content {
    background-color: #e1e1e1;
    background-color: var(--gray-white-color);
    display: flex;
    flex-direction: row;
    flex: 50 1 auto;
}

.main-content {
    background-color: #ffffff;
    background-color: var(--white-color);
    margin: 0 auto;
}


/* Footer */

.footer {
    flex: 1 1 auto;
    min-height: max-content;
}

.footer p {
    text-align: center;
}

/* Card */

.card {
    padding-left: 300px;
    padding-left: var(--category-width);
}

/* Animals */

.animals-container {
    align-items: start;
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: start;
    padding-left: 0;
}

.animals-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
}

.animal-card {
    background-color: #e0e0e0;
    background-color: var(--white-gray-color);
    flex: 0 0 auto;
    text-overflow: ellipsis;
    margin-top: 1rem;
    max-width: calc(100%/4);
}

.animal-flex-card {
    margin-right: calc(100%/4 - 12rem);
    margin-right: calc(100%/4 - var(--image-width));
}

.animal-grid-card {
    margin:auto;
    margin-left:0;
}

.animal-image {
    background-position: center;
    background-size: cover;
    height: 12rem;
    height: var(--image-height);
    width: 12rem;
    width: var(--image-width);
}

.animal-header {
    font-size: 0.95rem;
    font-size: calc(var(--font-size) - 0.05rem);
    font-weight: bold;
    margin-left: 1rem;
}

.animal-status {
    font-size: 0.8rem;
    font-size: calc(var(--font-size) - 0.2rem);
    font-weight: lighter;
    margin-left: 0.5rem;
}