html {
    height: 100%;
    min-height: 100%;
}

body {
    align-content: stretch;
    align-items: stretch;
    color: #343434;
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    height: 100%;
}

main {
    display: flex;
    flex-grow: 1;
}

.footer {
    background-color: #f5f5f5;
}

li {
    list-style-type: none;
    margin-right: 10px;
}

ul {
    margin-left: 0;
    padding-left: 0;
}